/*  your css code here. If applicable */
body{
	background-color : #cccccc;
}
.player_one{
	display:flex;
	flex-direction:column;
}

.player_two{
	display:flex;
	justify-content:center;
}

h1,h2{
	display:flex;
	justify-content:center;
}